alabaster==0.7.12
anyio==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
arviz==0.11.2
asn1crypto==1.0.1
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
cftime==1.6.2
chardet==4.0.0
cobra @ git+https://github.com/TylerBackman/cobrapy.git@56fad5f037e0ac1cda59a2e9ec298d61b2916cd1
colorama==0.4.4
commonmark==0.9.1
conda==4.10.3
conda-package-handling==1.6.0
coverage==6.5.0
cryptography==2.7
cycler==0.11.0
decorator==5.0.6
defusedxml==0.7.1
depinfo==2.2.0
diskcache==5.2.1
docutils==0.17.1
entrypoints==0.3
exceptiongroup==1.0.4
future==0.18.2
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
imagesize==1.4.1
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.6.0
jupyterlab==3.0.13
jupyterlab-launcher==0.13.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
kiwisolver==1.4.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
mpi4py==3.0.0
mpmath==1.2.1
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netCDF4==1.6.2
notebook==6.3.0
numpy==1.21.6
optlang==1.6.1
packaging==20.9
pandas==1.3.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pluggy==1.0.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycosat==0.6.3
pycparser==2.20
pydantic==1.8.1
pyeditline==2.0.1
Pygments==2.8.1
pymc==2.3.8
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
python-libsbml==5.19.0
python-libsbml-experimental==5.18.1
pytz==2022.6
PyYAML==5.3.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
requests==2.25.1
rfc3986==1.4.0
rich==6.2.0
ruamel.yaml.clib==0.2.7
ruamel_yaml==0.15.46
scipy==1.6.2
seaborn==0.11.1
Send2Trash==1.5.0
six @ file:///home/sat_bot/base/conda-bld/six_1627705615509/work
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==4.1.2
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
swiglpk==5.0.8
sympy==1.10.1
TBB==0.2
terminado==0.9.4
testpath==0.4.4
tomli==2.0.1
tornado==6.1
tqdm==4.36.1
traitlets==5.0.5
typing_extensions==4.4.0
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.20.2
zipp==3.10.0
